# Server Port
PORT=5001

# MongoDB Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=Portfolio

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# Node Environment
NODE_ENV=development

# Google Sheets Synchronization Integration
GOOGLE_SHEETS_SPREADSHEET_ID=1GRX1wPpDGd2nmggwXwiXezymsR8PVQhyYfzX6hyHsCQ
GOOGLE_SHEET_NAME=Sheet1
GOOGLE_CLIENT_EMAIL=your-service-account@your-project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourPrivateKeyHere\n-----END PRIVATE KEY-----\n"

# Optional: Administrative Secret for retry endpoint
ADMIN_SYNC_SECRET=your_optional_secret_here
